//  Colors
$color-blue: #80B1F5;
$color-green : #94D3A3;
$color-red: #E06D6F;
$color-yellow: #F1C37F;
$color-subtitle: #464646;
$color-text: #212529;

//  Fonts
//
//  (the commas denote the order in which the fonts are loaded, if
//  the loading failed, the next specified font is loaded)
$font-family-default:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
$font-family-text:      "Libre Baskerville", serif;

//  Mixins (Helper functions for Cross-Browser styles)
@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin transition($args) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

//  Base Element Styles
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: $font-family-default;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-text;
    background-color: #fff;
    overflow-x: hidden;
}
*, ::after, ::before {
    box-sizing: inherit;
}
h1 {
    font-size: 2.5rem;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
b, strong {
    font-weight: bold
}
a {
    cursor: pointer;
    @include transition(all 0.6s ease);
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    @include transform(translate3d(0, 0, 0));
}

//  Header Section
header {
    width: 90%;
    margin: 25vh auto 20vh;
    text-align: center;
    //HackED Beta Title
    .prompt {
        font-size: 5em;
        font-weight: 900;
    }
    .hacked {
        font-size: 5em;
        
    }
    .beta {
        font-size: 3em;
        font-weight: 100;
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 200;
    }
    .cursor {
        font-size: 5em;
        font-weight: 900;
        visibility: hidden;
        &.show {
            //when we're showing the cursor, override visibility: hidden
            visibility: visible;
        }
    }
    //Subtitle
    h2 {
        color: $color-subtitle;
        font-family: $font-family-text;
        font-style: italic;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.875em;
        -webkit-font-smoothing: antialiased;
        padding: 0 10%;
        //Line above and below
        &:before, &:after {
            content: "";
            width: 60%;
            margin: 1.5em 20% 1em;
            height: 0px;
            display: block;
            border: 1px solid;
            border-style: inset;
        }
    }
}

//  Page Slideshow Selector
.bubble-nav {
    display: table;
    margin: 0 auto;
    //The actual colored bubbles
    .bubble {
        width: 212px;
        height: 212px;
        border-radius: 106px;
        box-shadow: rgba(70, 70, 70, 0.2) 0 1px 0 1px;
        margin-top: 2em;
        margin-left: -10px;
        color: #fff !important;
        text-align: center;
        position: relative;
        float: left;
        @include transition(opacity 1s ease);
        opacity: 0.4;
        &.active {
            //when selected, override opacity: 0.4 and show full opacity
            opacity: 1.0;
        }
        h3, .bubble h3 {
            font-size: 3em;
            line-height: 0.804em;
            margin: 0;
            font-weight: 200; 
        }
        h3, .bubble h3 {
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
    //background colors for each color
    .redback {
        background: $color-red;
    }
    .blueback {
        background: $color-blue;
    }
    .greenback {
        background: $color-green;
    }
    .yellowback {
        background: $color-yellow;
    }
}

//  Page Slideshow
.pages-container {
    top: 0;
    width: 100vw;
    height: 90vh;
    margin-top: 5vh;
    .wide-pages-container {
        top: 0px;
        left: 1000vw;
        width: 400vw;
        height: 90vh;
        .page {
            left: -0vw;
            //this is the value you gotta change to scroll in JS
            float: left;
            position: relative;
            width: 100vw;
            height: 100%;
            margin: 0px;
            overflow-x: scroll;
            padding: 2em 15vw 2em 15vw;
        }
    }
    .red {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-red;
        }
    }
    .blue {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-blue;
        }
    }
    .green {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-green;
        }
    }
    .yellow {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-yellow;
        }
    }
}

//  FAQ Section

//  Sponsors Section