//  Colors
$color-blue: #80B1F5;
$color-green : #94D3A3;
$color-red: #E06D6F;
$color-yellow: #F1C37F;
$color-white: #FFFFFF;
$color-subtitle: #464646;
$color-text: #212529;

//  Fonts
//
//  (the commas denote the order in which the fonts are loaded, if
//  the loading failed, the next specified font is loaded)
$font-family-default:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
$font-family-text:      "Libre Baskerville", serif;
$font-family-beta:      "Saira Condensed", sans-serif;

//  Mixins (Helper functions for Cross-Browser styles)
@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin transition($args) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

//  Base Element Styles
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: $font-family-default;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-text;
    background-color: $color-white;
    overflow-x: hidden;
}
*, ::after, ::before {
    box-sizing: inherit;
}
h1 {
    font-size: 2.5rem;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
b, strong {
    font-weight: bold
}
a {
    cursor: pointer;
    @include transition(all 0.6s ease);
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    @include transform(translate3d(0, 0, 0));
}

//  Header Section
header {
    width: 90%;
    margin: 25vh auto 20vh auto;
    text-align: center;
    //HackED Beta Title
    .prompt {
        font-size: 5em;
        font-weight: 900;
    }
    .hacked {
        font-size: 5em;
    }
    .beta {
        font-size: 3em;
        font-weight: 100;
        font-family: $font-family-beta;
    }
    .cursor {
        font-size: 5em;
        font-weight: 900;
        visibility: hidden;
        &.show {
            //when we're showing the cursor, override visibility: hidden
            visibility: visible;
        }
    }
    //Subtitle
    h2 {
        color: $color-subtitle;
        font-family: $font-family-text;
        font-style: italic;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.875em;
        -webkit-font-smoothing: antialiased;    //remove font blurryness
        padding: 0 10%;
        //Line above and below
        &:before, &:after {
            content: "";
            width: 60%;
            margin: 1.5em 20% 1em 20%;
            height: 0px;
            display: block;
            border: 1px solid;
            border-style: inset;
        }
    }
}

//  Page Slideshow Selector
.bubble-nav {
    display: table;
    margin: 0 auto;
    //The actual colored bubbles
    .bubble {
        width: 212px;
        height: 212px;
        border-radius: 50%;     //50% so that the curve takes half the width ie: a circle
        box-shadow: rgba(70, 70, 70, 0.2) 0 1px 0 1px;
        margin-top: 2em;
        margin-left: -10px;
        color: $color-white;
        text-align: center;
        position: relative;
        float: left;
        //default opacity is 0.4, transition applies when it gets changed
        opacity: 0.4;
        @include transition(opacity 1s ease);
        &.active {
            //when selected, override opacity: 0.4 and show full opacity
            opacity: 1.0;
        }
        //styles for the text in the bubble
        h3 {
            font-size: 3em;
            font-weight: 200;
            line-height: 0.804em;
            margin: 0;
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));   //bring the text down halfway
        }
    }
    //background colors for each color
    .redback { background: $color-red; }
    .blueback { background: $color-blue; }
    .greenback { background: $color-green; }
    .yellowback { background: $color-yellow; }
}

// Content styles
.content {
    //hide any content overflowing on the x axis (horizontally)
    overflow-x: hidden;
}

//  Page Slideshow
$pages-height: 300px;
.pages-container {
    width: 100vw;  //this is one screen width's wide
    height: $pages-height;  //match the height for all elements
    margin-top: 10px;
    margin-left: 0;
    position: relative;  //only relatively positioned elements will work with overflow / overflow-x: hidden
    top: 0;
    .pages-invisible-container {
        width: 400vw;   //this is 4 screen widths wide, to hold 4 pages
        height: $pages-height;  //match the height for all elements
        position: absolute;     //needs to be absolutely positioned for left value to work
        left: 0;    //this value gets changed when the pages scroll
        @include transition(left 0.3s ease);    //this animates the change in left
        .page {
            width: 100vw;   //each page is one screen width's wide
            height: $pages-height;  //match the height for all elements
            box-sizing: border-box;  //ensures the width is never more than 100vw, even with padding/border
            float: left;    //lines them up horizontally, not vertically
            margin: 0px;
            padding: 2em 15vw 2em 15vw;
        }
    }
    //color text styles (only for headings and bold)
    .red {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-red;
        }
    }
    .blue {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-blue;
        }
    }
    .green {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-green;
        }
    }
    .yellow {
        b, strong, h1, h2, h3, h4, h5, h6 {
            color: $color-yellow;
        }
    }
}

//  FAQ Section

//  Sponsors Section

//  Mobile Styles (Tablet)

//  Mobile Styles (Phone)

